<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>View QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">View QR Code</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (data) {
    <h2>ID</h2>
    <p>{{ data.id }}</p>

    <h2>Name</h2>
    <p>{{ data.name }}</p>

    <h2>Description</h2>
    <p>{{ data.description }}</p>

    @if (data.items) {
      <h2>Items</h2>

      @for (item of data.items; track item) {
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ item.name }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ item.id }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ item.description }}
          </ion-card-content>
        </ion-card>
      }
    }

    @if (data.attachments) {
      <h2>Attachments</h2>

      @for (attachment of data.attachments; track attachment) {
        <ion-card href="{{ attachment.fileUrl }}">
          <ion-card-header>
            <ion-card-title>
              {{ attachment.name }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ attachment.id }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ attachment.description }}
          </ion-card-content>
        </ion-card>
      }
    }
  } @else {
    <p>QR Code not found</p>
  }

</ion-content>
